body {
    height: 100%;
    width: 100%;
    background-color: #4385f3;
    padding: 0;
    margin: 0;
    /*background-image: url(/images/background.png);
    background-repeat: no-repeat;
    background-position: right center;*/
    font-family: Verdana, "Geneva CY", "DejaVu Sans", sans-serif;
}
.headerAuth {
    width: 80%;
    margin: auto;
    line-height: 1.5em;
    padding-top: 4%;
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    text-shadow: 1px 1px 1px darkblue;
}
.out:before {
    content: '';
    display: inline-block;
    height: 75%;
    vertical-align: middle;
}

.out {
    text-align: center;
}
.auth_block {
    width: 45%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}
.authInput {
    font-size: 20px;
    padding: 0.7em;
    margin-bottom: 20px;
    width: 15em;
    background-color: white;
}
.authButton {
    font-size: 20px;
    padding: 0.7em;
    margin-bottom: 20px;
    width: 15em;
    background-color: #4385f3;
    color: #FFFFFF;
    border: 1px solid #649aee;
    cursor: pointer;
}
.authButton:hover {
    border: 1px solid #FFFFFF;
}
.authButton:active {
    color: #dfe4ff;
}
.head_auth {
    position: relative;
    color: white;
    font-size: 24px;
}
.foot {
    color: #cecece;
    position: absolute;
    width: 100%;
    bottom: 5px;
    left: 0px;
    text-align: center;
}
.forget_pass {
    margin-top: -10px;
}
.forget_href {
    text-decoration: none;
    color: #cecece;
}
#error_line {
    height: 1.5em;
    color: #ffcb5c;
    font-size: 16px;
}
