body {
    height: 100%;
    background-image: url(/images/background.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.outer:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.outer {
    text-align: center;
}
.auth_block {
    width: 32em;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #8e8e8e;
    border-radius: 5px;
    text-align: center;
}
.authInput {
    font-size: 16px;
    margin-top: 10px;
    width: 20em;
    background-color: white;
}
.authButton {
    padding: 1px;
    font-size: 16px;
    margin-top: 20px;
    border: 1px solid #8e8e8e;
    background-color: #80aaff;
    color: #ffffff;
    border-radius: 3px;
    width: 20em;
    padding-top: 3px;
    padding-bottom: 3px;
}
.head_auth {
    position: relative;
    top: 0;
    background-color: #80aaff;
    color: white;
    border-bottom: 1px solid #8e8e8e;
    padding: 8px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-weight: bold;
    font-size: 20px;
}
.auth_fields {
    margin: 20px;
    padding-top: 15px;
}
.foot {
    color: #727272;
    position: absolute;
    width: 100%;
    bottom: 5px;
    left: 0px;
    text-align: center;
}
.forget_pass {
    margin-top: 10px;
}
.forget_href {
    text-decoration: none;
    color: #8e8e8e;
}
#error_line {
    height: 1em;
    color: #ff423a;
    font-size: 16px;
}
