button{
    width: 200px;
    height: 40px;
}

.button{
    border-radius: 0px;
    border: none;
    font-size: 13pt;
}

.control_button{
    margin-top: 10px;
    font-weight: bold;
}

.ok_button{
    background-color: #4385f3;
    margin-left: 20px;
    border: 1px solid #4385f3;
    margin-top: 4%;
}

.cancel_button{
    background-color: white;
    color: black;
    border: 1px solid lightgrey;
}

.ok_button:hover {
    background-color: #4385f3;
    border: 1px solid black;

}

.cancel_button:hover{
    background-color: white;
    border: 1px solid #4385f3;
}

.cancel_button:active{
    color: black;
}