.directionsEditor tr:last-of-type {
    border: 0px;
}
.directionsEditor td {
    padding: 5px;
    border-bottom: 1px solid lightgrey;
    text-align: left;
}

.buttonHolder{
    position: sticky;
    top: 10px;
    right: 0;
    padding-bottom: 20px;
    text-align: right;
}

.buttonHolder .ok_button{
    margin: 0;
}
input[type='checkbox']{
    width: 30px;
    height: 30px;
}
