.group {
    width: 100%;
    border-left: 1px solid #80aaff;
    overflow: hidden;
}
.nameUgsn {
    text-align: center;
    background-color: #80aaff;
    color: #ffffff;
    font-size: 16px;
    padding: 5px;
}
.codeDirection {
    display: inline;
    margin-left: 5px;
}
.listItem {

    margin-top: 5px;
}
.nameDirection {
    display: inline;
    margin-left: 5px;
}
.right{
    margin-bottom: 10px;
    float: right;
}