.head {
    position: relative;
    top: 0;
    margin: 0;
    width: 100%;

    overflow: hidden;
    background-color: #4385f3;
    z-index: 10;
}

.itemMenu img {
    margin-right: 10px;
}

.logo{
    display: inline-block;
    height:100px;
    margin: 1%;
}

.caption {
    color: #FFFFFF;
    cursor: default;
    display: inline-block;
    width: 50%;
    font-family: Verdana, "Geneva CY", "DejaVu Sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
}
.headMenus {
    display: inline-block;
    width: 40%;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: right;
}
.itemMenu {
    display: inline-block;
    color: white;
    font-size: 16px;
    margin-left: 5%;
    cursor: pointer;
}
.itemMenu:hover {
    color: #e1e1e1;
}
.exit {

}
