html,body {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #f7f7f7;
}
.input {
    background-color: #ffffff;
    border: 1px solid #8e8e8e;
    padding: 3px;
    border-radius: 3px;
    outline: none;
}
.input:focus {
    border: 1px solid #80aaff;
}
.button {
    border: 1px solid #8e8e8e;
    background-color: #80aaff;
    color: white;
    padding: 3px;
    border-radius: 3px;
}
.button::-webkit-file-upload-button {
    background-color: white;
}
.button:hover {
    background-color: #9bb2ff;
}
.button:active {
    color: #f2f2f2;
}
a {
 text-decoration: none;
}
.userMenu{
    position: fixed;
    float: left;
    width: 20%;
}
.userMenu > a{
    text-decoration: none;
    margin: 15px;
    color: black;
    display: block;
}
.userMenu a:hover {
    color: #3547c3;
}
.userMenu > a.subMenu{
    margin-left: 30px;
}
.content {
    width: 79%;
    float: left;
    margin-left: 20%;
}
.outer {
    margin-top: 90px;

}
