html,body {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Verdana, "Geneva CY", "DejaVu Sans", sans-serif;
    background-color: #f0f0ff;
}
.input {
    background-color: #ffffff;
    border: 1px solid #8e8e8e;
    padding: 3px;
    border-radius: 3px;
    outline: none;
}
.input:focus {
    border: 1px solid #80aaff;
}
/*.button {
    border: 1px solid #8e8e8e;
    background-color: #80aaff;
    color: white;
    padding: 3px;
    border-radius: 3px;
}*/
.button::-webkit-file-upload-button {
    background-color: white;
}
.button:hover {
    background-color: #9bb2ff;
}
.button:active {
    color: #f2f2f2;
}
a {
 text-decoration: none;
}
.userMenu{
    position: relative;
    top: 0;
    left: 0;
    z-index: 9;
    display: inline-block;
    margin-right: 1%;
    width: 18%;
    vertical-align: top;
    height: 100%;
    background-color: transparent;
    overflow: auto;
}
.userMenu > a{
    text-decoration: none;
    margin: 15px;
    color: #4385f3;
    font-weight: bold;
    display: block;
    padding-bottom: 7px;

}

.userMenu a:hover {
    color: #365c84;
}
.userMenu > a.subMenu{
    margin-left: 30px;
    font-weight: normal;
}
.content {
    padding: 2%;
    width: 75%;
    display: inline-block;
    background-color: white;
    overflow: auto;
    min-height: 100%;

}
.outer {
    margin-top: 3%;
}
.href {
    color: #734aff;
    text-decoration: none;
    cursor: pointer;
}
#error {
    margin-top: 10px;
    color: #f94538;
    font-size: 16px;
    font-weight: bold;
}
