.subject {
    margin-top: 5px;
}
.deadLine {
    margin-top: 3px;
}
.attr {
    padding-bottom: 5px;
    border-bottom: 1px solid #d5d5d5;
}
.attr:last-of-type {
    border: 0;
}
.saveTrajectory {
    padding: 5px;
    font-size: 15px;
    margin-top: 10px;
}
.fileTrack {
    margin-top: 10px;
}
.delDebt {
    color: #487eb3;
    font-size: 12px;
    margin-left: 3px;
    cursor: pointer;
}
.add_module {
    background-image: url("/images/add_file.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.plus.icon {
    color: #000;
    position: relative;
    margin-top: 10px;
    cursor: pointer;
    padding-right: 40px;
}
.plus.icon:before {
    content: '';
    position: absolute;
    width: 35px;
    height: 3px;
    background-color: #80aaff;
}
.plus.icon:after {
    content: '';
    position: absolute;
    width: 35px;
    height: 3px;
    background-color: #80aaff;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
#adaptiveDisc {
    color: gray;
    font-size: 15px;
 margin-top: 7px;
}