.prompt {
    position: relative;
    margin-top: 5px;
    padding: 15px;
    margin-bottom: 50px;
}
.numbSemestr {
    color: #487eb3;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.statusSemestr {
    font-size: 16px;
    text-align: center;
    color: #565656;
}
.textSemestr {
    margin-top: 7px;
}
.dataDebt {
    display: inline-block;
    color: #00153e;

}
.strDebt {
    margin-top: 3px;
}
#adaptiveDisc {
    color: gray;
    font-size: 15px;
    margin-top: 7px;
}
.adapt {
    color: #00153e;
    font-size: 17px;
    margin-top: 5px;
}
