.blockReport {
width: 100%;
}
.headReport {
    width: 100%;
    border-bottom: 1px solid #80aaff;
    color: #5886e8;
    font-weight: bold;
    padding-bottom: 5px;
}
.item {
    margin: 15px;
    overflow: hidden;
}
.contentReport {
    margin-top: 20px;
}
.leftLabel {
    color: #487eb3;
    float: left;
    width: 15em;
}
.rightLabel {
    color: #000000;
    float: left;
}
.par {
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 10px;
}