.studentList {
    border-collapse: separate;
}
.studentList th{
    background: linear-gradient(to top, #80aaff, #a3d3ff);
    color: #FFFFFF;
    font-size: 16px;
    padding: 5px;
}
.studentList tr{
    border: 1px solid #80aaff;
    cursor: pointer;
}
.studentList tr:last-of-type {
    border: 0px;
}
.studentList tr:hover {
    background-color: #e2e6ff;
}
.studentList td {
    padding: 10px;
    border-bottom: 1px solid #80aaff;
    text-align: center;
}
.delStudent {
    background: linear-gradient(to top, #80aaff, #a3d3ff);
}
.studentList td img:last-of-type {
    margin-left: 10px;
}
.studentList td img:hover {
    background-color: #eeeeff;
}
#error {
    height: 1em;
    color: #ff423a;
    font-size: 16px;
}




