table{
    border-collapse: separate;
    margin-bottom: 20px;
}

th{
    background-color: #4385f3;
    color: #FFFFFF;
    font-size: 16px;
    padding: 5px;
    border-top: 2px solid #365c84;
    border-bottom: 2px solid #365c84;
}

tr{
    cursor: pointer;
}

tr:hover {
    background-color: white;
}

td {
    padding: 6px;
    border-bottom: 2px solid lightgrey;
    text-align: center;
}

td:hover{
    border-color: #4385f3;
}

table td img:last-of-type {
    margin-left: 10px;
}

table td img{
    padding: 5px;
}
table td img:hover {
    background-color: #4385f3;
    border-radius: 5px;
}

