#diag_title {
   position: absolute;
   background-color: #ccc;
   border: 1px solid #ccc;
   padding: 5px;
   display: none;
}

#chart {
  fill: #EEE;
  stroke: #999;
  stroke-width: 1px;
}

#map line {
  stroke: #999;
  stroke-width: 1px;
}

#map text {
  font-size: 10pt;
  font-family: Arial;
  fill: #666;
}
.dat {
  stroke: #666;
  stroke-width: 1px;
}

#legend {
   display: inline-block;
   font-family: Arial;
   font-size: 10pt;
   width: 350px;
   margin: 15px;
}

#legend_data {
  list-style-type: none;
  font-size: 10pt;
  font-family: Arial;
  margin: 0px;
  padding: 0px;
  color: black;
}

.bullet {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #333;
  margin: 2px 10px 2px 2px;
  width: 16px;
  height: 16px;
}


